.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.bad-script {
  font-family: "Bad Script", cursive;
}
.leckerli-one {
  font-family: "Leckerli One", cursive;
}
.lobster {
  font-family: "Lobster", cursive;
}
.carousel {
  height: 550px !important;
}
.carousel .carousel-item {
  width: 340px !important;
}

.card {
  border-radius: 8px;
  position: relative !important;
  /* right: 20px !important; */
}
.card .card-image img {
  height: 300px;
}

.item img {
  width: 100%;
}
.middle-indicator {
  position: absolute;
  top: 35%;
}
.middle-indicator-text {
  font-size: 3.2rem;
}
a.middle-indicator-text {
  color: white !important;
}
.content-indicator {
  width: 50px;
  height: 50px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}

.modal.bottom-sheet {
  max-height: 50%;
}

.visibility-hidden {
  visibility: hidden;
}

ul.side-nav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
ul.side-nav li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
ul.side-nav.full,
ul.side-nav.fixed {
}
.site-header {
  height: 56px;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
nav {
  color: #000;
}
main {
  flex: 1 0 auto;
}
.user-view {
  height: 230px;
}

.profile-details {
  padding: 0px 15px;
}
.sidenav {
  width: 320px;
}
.cursor-pointer {
  cursor: pointer;
}
.sidenav .collapsible-header {
  padding: 0 32px;
}
blockquote {
  border-color: #29b6f6;
}
.card {
  margin: 0.5rem 19px 1rem 2px;
}
.card .card-content {
  height: 185px;
}
.collection {
  height: 485px;
  overflow-y: scroll;
}
.font-link {
  font-weight: 500;
  font-size: 20px;
}
