.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.bad-script {
  font-family: "Bad Script", cursive;
}
.leckerli-one {
  font-family: "Leckerli One", cursive;
}
.carousel {
  height: 550px !important;
}
.carousel .carousel-item {
  width: 340px !important;
}

.card {
  border-radius: 8px;
  position: relative !important;
  /* right: 20px !important; */
}
.card .card-image img {
  height: 300px;
}

.item img {
  width: 100%;
}
.middle-indicator {
  position: absolute;
  top: 35%;
}
.middle-indicator-text {
  font-size: 3.2rem;
}
a.middle-indicator-text {
  color: white !important;
}
.content-indicator {
  width: 50px;
  height: 50px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}

/* label color */
.input-field label {
  color: #29b6f6;
}
/* label focus color */
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field textarea:focus + label {
  color: #29b6f6 !important;
}
/* label underline focus color */
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field textarea:focus {
  border-bottom: 1px solid #29b6f6 !important;
  box-shadow: 0 1px 0 0 #29b6f6 !important;
}
/* valid color */
.input-field input[type="text"].valid,
.input-field input[type="email"].valid,
.input-field textarea.valid {
  border-bottom: 1px solid #29b6f6 !important;
  box-shadow: 0 1px 0 0 #29b6f6 !important;
}
/* invalid color */
.input-field input[type="text"].invalid,
.input-field input[type="email"].invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid #ef5350 !important;
  box-shadow: 0 1px 0 0 #ef5350 !important;
}
/* icon prefix focus color */
.input-field .prefix {
  color: #29b6f6 !important;
}

.modal.bottom-sheet {
  max-height: 50%;
}
